<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<navbar></navbar>
<div class="container">
    {% for key, flashes in app.flashes %}
        {% for flash in flashes %}
            <div class="alert alert-{{ key }}">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
